
<footer class="footer">
    <div class="container">
<hr/>
        <p class="pull-left">&copy; @DateTime.Now.Year Softwire Ltd.</p>
        <div class="pull-right">
            <ul class="list-inline">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
            </ul>
        </div>
    </div>
</footer>
